<%#Import the header%>
<%- include('../templates/header'); -%>
<%#/Import the header%>

<section class="sfw" id="sfw">
  <div class="container">
    <h1>Safe For Work Fanart</h1><hr />
      <div class="pixgrid clearfix ">

      <div class="row"> 
        <%# Sfw List Loop %>
          <% sfwlist.reverse().forEach(function(item) { %>
            <div class="col-sm-2 mb-4 ">
                    <img class="w-100" src="/images/sfw/<%= item.shortname %>.jpg" alt="Photo of <%= item.shortname %>">
              </div>
              <%  }); %>
              <%# / Sfw List Loop %>
            </div>
          </div>
    </div>
  </section>

<%#Import the footer%>
<%- include('../templates/footer'); -%>
<%#/Import the footer%>