<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harry and Hermione | Credits
    </title>
<!-- Bootstrap  -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

<link rel='stylesheet' href='/css/credits.css' />


</head>
<body>


    <!-- BEGIN Content -->
<main>

  <!-- BEGIN Scroller -->
  <div>

    <!-- BEGIN Section -->
    <section>
      <p>a website by <span><b>IckleRonnikens</b></span></p>
    </section>
    <!-- END Section -->

    <!-- BEGIN -->
    <article style="margin-bottom: 5em">
      <h2>Contributors</h2>
      <dl>
        <dt>Editor</dt>
        <dd>Aeyliana</dd>

        <dt>Tester</dt>
        <dd>AirplaneFoodBlackMarket</dd>

        <dt>Critiquer</dt>
        <dd>CrediblyDisavowed</dd>

        <dt>Translater 1</dt>
        <dd>Dragonmarked</dd>

        <dt>Translater 2</dt>
        <dd>Syzgy</dd>

        <dt>Coordinartor</dt>
        <dd>Just an Echo</dd>

        <dt>Supervisor</dt>
        <dd>Suzy</dd>
      </dl>
    </article>
    <!-- END -->

    <!-- BEGIN -->
    <article>
    <h2>Image Credits</h2>
    <dl>
        <dt>Front Page Hero</dt>
        <dd>Nili</dd>
        <dt>About Section</dt>
        <dd>Hastyhand</dd>
        <dt>Blog Section</dt>
        <dd>Vladislav Pantic</dd>
        <dt>Artists Section</dt>
        <dd>Scott Friendman</dd>
        <dt>Writers Section</dt>
        <dd>Sarah Lane</dd><br>
    </dl>

    <dl>
        <dt>About Page</dt>
        <dd>Hastyhand</dd>
    </dl>

    <dl>
        <dt>Fanart Page</dt>
        <dd>Shira<br>Unknown<br>Fi Masak</dd>
        <dt>Fanfiction Page</dt>
        <dd>RayDarkWolf<br>Upthehill<br>Kiwi</dd>
        <dt>Projects Page</dt>
        <dd>Arishatistic<br>Disgruntledwing</dd>
        <dt>Additional Assistant Accountant</dt>
        <dd>Nicole Bukowski</dd>
        <dt>Additional Production Assistants</dt>
        <dd>Josephine Rodriguez<br>Alison Bryan<br>Terrell Merrill<br>William Lapp<br>Jose Peter Gonzalez<br>Brian Ketchem</dd>
      </dl>

      <dl>
        <dt>Art Department Coordinator</dt>
        <dd>Jason Miller</dd>
        <dt>Production Assistans</dt>
        <dd>Kat Seemer<br>Adam Harlan<br>William Hopper</dd>
      </dl>

      <dl>
        <dt>Construction Coordinator</dt>
        <dd>Richie Hebrank</dd>
        <dt>Key Construction Grip</dt>
        <dd>Glenn Fjotland</dd>
        <dt>construction Grips</dt>
        <dd>Stephen Girouard</dd>
      </dl>

      <dl>
        <dt>Additional Construction Grips</dt>
        <dd>Lee Shevett<br>Wiliam R. Clayton III</dd>
        <dt>Key Carpenter</dt>
        <dd>Peter Bundrick</dd>
        <dt>Additional Carpenter</dt>
        <dd>Bruce Paquette</dd>
        <dt>Production Assistant</dt>
        <dd>Mike Riolo</dd>
        <dt>Additional Shop Craft</dt>
        <dd>Ryan Bundrick<br>Joe Kupillar<br>James Wassman<br>Matthew Conover</dd>
      </dl>

      <dl>
        <dt>Scenic Charge</dt>
        <dd>Roman Rurovsky<br>Lorenzo Contessa</dd>
        <dt>Scenics</dt>
        <dd>Gennadi Barbush<br>Nikolai Bartossik<br>Darius Menard</dd>
      </dl>
    </article>
    <!-- END -->

    <!-- BEGIN Section -->
    <section>
      <h3>The End</h3><br><hr>
            <dl>
        <dt></dt>
        </dl>
    </section>
    <!-- END Section -->

  </div>
  <!-- END Scroller -->
</main>
<!-- END Content-->

</body>
</html>