<%#Import the header%>
<%- include('../templates/header'); -%>
<%#/Import the header%>

<section class="gamers" id="allgamers">
  <div class="container">
    <h1>Fanfiction</h1><hr />
      
      <div class="row">
        <div class="col-sm-3">
          <a href="/fanfiction/writers">
          <img class="w-100 " src="/images/fanfictionpage/writers.jpg" alt="Photo of writers">
          </a>
      </div>
      
      <div class="col-sm-9 ">
        <h3><a href="/fanfiction/writers">Writers</a></h3>
        <h5> AKA
          <a href="/fanfiction/writers">Writers</a>
        </h5>
        
        <p>Summary of Writers</p><br />
        <a href="/fanfiction/writers"><button class="btn btn-light">View Writers</button></a>
      </div>
    </div><hr />


      <div class="row">
        <div class="col-sm-3">
          <a href="/fanfiction/sfw">
          <img class="w-100 " src="/images/fanfictionpage/sfw.jpg" alt="Photo of sfw">
          </a>
      </div>
      
      <div class="col-sm-9 ">
        <h3><a href="/fanfiction/sfw">Safe for Work</a></h3>
        <h5> AKA
          <a href="/fanfiction/sfw">Safe for Work</a>
        </h5>
        
        <p>Summary of Safe for Work</p><br />
        <a href="/fanfiction/sfw"><button class="btn btn-light">View Safe for Work</button></a>
      </div>
    </div><hr />


      <div class="row">
        <div class="col-sm-3">
          <a href="/fanfiction/nsfw">
          <img class="w-100 " src="/images/fanfictionpage/nsfw.jpg" alt="Photo of nsfw">
          </a>
      </div>
      
      <div class="col-sm-9 ">
        <h3><a href="/fanfiction/nsfw">Not Safe For Work</a></h3>
        <h5> AKA
          <a href="/fanfiction/nsfw">Not Safe For Work</a>
        </h5>
        
        <p>Summary of Not Safe For Work</p><br />
        <a href="/fanfiction/nsfw"><button class="btn btn-light">View Not Safe For Work</button></a>
      </div>
    </div><hr />
  </div>
</section>
<%#Import the footer%>
<%- include('../templates/footer'); -%>
<%#/Import the footer%>